* { box-sizing: Border-box ;
	margin:0;}

html, body {
	position: relative;
	/* width: 100vw;
	height: 100vh; */
}

body {
	height: 100vh; /* fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);  
}
  html {
	height: -webkit-fill-available;
  }