@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Fredoka&family=Kiwi+Maru:wght@500&family=Londrina+Outline&family=Londrina+Solid:wght@300;900&family=Nunito:wght@300;400;600;700&family=Rampart+One&display=swap');

:root{
--main-font: "Londrina Solid";
--white: hsl(0, 0%, 100%);
--purple: hsl(278, 67%, 68%);
--pink: #F15BB5;
--yellow: #FEE440;
--orange: #F89E7C;
--green: #A2D583;
--blue: #00BBF9;
--aqua: #00F5D4;
--background: #15304A;
}

* { box-sizing: Border-box ;
	margin:0;}

html, body {
	position: relative;
	/* width: 100vw;
	height: 100vh; */
	background-color:var(--background);
}

body {
	height: 100vh; /* fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);  
	overflow:hidden;
}
  html {
	height: -webkit-fill-available;
	font-family: 'Comfortaa', cursive;
  }

  #qr_button {
    height: 7rem;
    width: 7rem;
	border-radius: 50%;
	margin-top: -2.5rem;
	border: 0.75rem solid var(--background);
	background-image: url("assets/icons/scan-barcode.svg"), linear-gradient(43.6deg, #E84B50 22.24%, #BC76E4 73.52%);
	background-position: center;
	background-repeat: no-repeat;
  }

  .nav_button {
	margin: auto;
	height: 4.5rem;
	width: 4.5rem;
	display: flex;
	border-radius: 50%;
  }

  .nav_button img{
	margin: 0 auto;
  	align-self: center;
  }

  .active{
	background-color: #1CB2B7;
}

  nav{
	display: flex;
	justify-content: space-between;
  }