@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Fredoka&family=Kaisei+Decol&family=Kiwi+Maru:wght@500&family=Kosugi+Maru&family=Londrina+Outline&family=Londrina+Solid:wght@300;900&family=Luckiest+Guy&family=Nunito:wght@300;400;600;700&family=Rampart+One&display=swap');
:root {
  --main-font: "Londrina Solid";
  --white: hsl(0, 0%, 100%);
  --purple: hsl(278, 67%, 68%);
  --red: #E84B50;
  --pink: #F15BB5;
  --yellow: #FEE440;
  --orange: #F89E7C;
  --green: #A2D583;
  --blue: #00BBF9;
  --aqua: #00F5D4;
  --grey: #ababab;
  --background: #15304A;
  --swiper-pagination-color: hsl(0, 0%, 100%);
}

:root {
  --nav-height: 20vw;

  --sub-menu-height: 10rem;
  --nav-padding-bottom: 3vw;

}

* {
  box-sizing: Border-box;
  margin: 0;
}

html,
body {
  position: relative;
  /* width: 100vw;
	height: 100vh; */
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
   /* fallback for browsers that do not support Custom Properties */
   height: calc(var(--vh, 1vh) * 100);
   overflow: hidden;
   overscroll-behavior-y: contain;
   /* Prevent swipe to refresh*/
}

html {
  height: -webkit-fill-available;
  font-family: 'Comfortaa', cursive;
}

.grid {
  display: grid;
}

.grid-top {
  grid-row: 1;
  grid-column: 1;
}

#main {
  display: grid;
  height: 100%;

  z-index: 0;
  color: #fff;
  font-family: "Luckiest Guy";
  font-size: 9rem;

}

.bg_dark {
  background-color: var(--background);
}

.bg_purple {
  background-color: var(--purple);
}

.bg_red {
  background-color: var(--red);
}

.bg_blue {
  background-color: var(--blue);
}

.jp-font {
  font-family: senobi-gothic, sans-serif;

}

.jp-font {
  font-family: senobi-gothic, sans-serif;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

#content {
  position: relative;
  margin: 4vw;
  overflow-y: scroll;
  z-index: 50;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/assets/bg/hw_bg.png");
  opacity: 0.2;
  background-size: 100% auto;
  z-index: 0;
}

#reader {
  z-index: 100;
  visibility: hidden;
  height: fit-content;
  border-radius: 10vw;
  overflow: hidden;
}

#overlay {
  visibility: hidden;
  background-color: rgb(0 0 0 / 0.7);
  z-index: 80;
}

.qr_button {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  border: 3vw solid var(--background);
  background-image: linear-gradient(43.6deg, #E84B50 22.24%, #BC76E4 73.52%);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr_button.loading {
  background-image: url("./assets/icons/loading.svg"), linear-gradient(43.6deg, #E84B50 22.24%, #BC76E4 73.52%);
}

.qr_button.stop {
  background-image: url("./assets/icons/stop.svg"), linear-gradient(43.6deg, #E84B50 22.24%, #f08d90 73.52%);
}


.nav_button {
  /* margin: auto; */
  height: 15vw;
  width: 15vw;
  display: flex;
  border-radius: 50%;
}

.nav_button img,
#qr_code img {
  /* margin: 0 auto;
  align-self: stretch; */
  padding: 3vw;
}


.active {
  background-color: #1CB2B7;
  stroke: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: #fff;
  width: 100%;
  height: var(--nav-height);
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, #e5e6e9 32.81%, #b3c5d1 100%);
  border-radius: 5vw 5vw 0px 0px;
  z-index: 100;
  padding-bottom: var(--nav-padding-bottom);
}

#sub_menu_container {
  width: 100%;
  bottom: var(--sub-menu-height);
  position: absolute;
  z-index: 95;
  display: flex;
  align-content: center;
  justify-content: center;
}

#sub_menu {
  height: 3rem;
  width: 55vw;
  background: #ffffff;
  box-shadow: 5px 10px 17px rgb(0 0 0 / 25%);
  border-radius: 50px;

}

#shadow {
  pointer-events: none;
  position: absolute;
  height: 35vh;
  width: 100%;
  bottom: 0;
  z-index: 90;

  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(-180deg);
}


#heading {
  /* position: absolute; */
  top: 0;
  padding-top: 3vh;
}

.title {
  grid-column: span 2;
  font-size: 7vw;
}

#menu_heading {
  text-align: center;
}

#menu_heading .sub {
  font-size: 12vw;
}

#menu_heading .main {
  font-size: 20vw;
  font-weight: 400;
}


#heading .sub {
  font-size: 6vw;
}

#heading .main {
  font-size: 10vw;
  font-weight: 400;
}

#menu {
  margin-top: 5vw;
  margin-bottom: calc(var(--sub-menu-height) + 3rem);
}

.message{
  height: 50vh;
  font-size: 16vw;
  justify-items: center;
  text-align: center;
  
}

#logo-banner{
  height: 100%;
  background-image: url("/assets/logos/coming-soon.svg");
  background-size: 100%;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
}

#popup{
  grid-row: 1;
  grid-column: 1;
  display: flex;
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

#popup_dialog{
  width: 80vw;
  height: 100vw;
    font-size: 16vw;
    display: grid;
    grid-template: 35vw 50vw 15vw / 1fr
}

#popup_bg{
  background-image: url("/assets/elements/dialog.svg");
  background-size: 100%;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  height: 100%;
  grid-column: 1;
  grid-row: 1/-1;

}

#popup_message{
  grid-column: 1;
  grid-row: 1;
  font-size: 12vw;
  text-align: center;
  margin-top: 8vw;
}

#overlay_popup {
  visibility: visible;
  background-color: rgb(0 0 0 / 0.7);
  z-index: 80;
}

#ok_button{
  background-color: var(--red);
  border-radius: 4vw;
  text-align:center;
  font-size: 10vw;
  grid-column: 1;
  grid-row: 3;
  z-index: 100;
  height: 15vw;
  width: 60%;
  justify-self: center;
  border: solid white 0.8vw;
  }

#popup_monsters{
  grid-column: 1;
  grid-row: 2;
  font-size: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img.monster{
  width: 30vw;
  -webkit-filter: drop-shadow(1vw 2vw 1vw rgb(0, 0, 0, 0.5));
  filter: drop-shadow(1vw 2vw 1vw rgb(0, 0, 0, 0.5));}

.half-tile{
  width: 30vw;
  display: grid;
  grid-template-rows: 30vw 10vw;
  grid-auto-columns: 100%;
  justify-items: center;
  /* align-items: center; */
}

.monster_name{
  font-size: 4vw;
  text-align: center;
  font-family: "Londrina Solid";
  /* visibility: hidden; */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination{
  pointer-events: none;
}

/* TRIVIA */
.reveal{
  color: black;
  background-color: white;
  border-radius: 5vw;
  padding: 1vw;
  text-align: center;
}

.answer{
  /* color: black; */
  background-color: var(--green);
  border-radius: 5vw;
  padding: 1vw;
  text-align: center;
}

.counter {
  font-family: "Fredoka";
  font-size: 4vw;
  font-weight: bold;
}

.item {
  margin: 1vw;
  height: 80vw;
  grid-column: span 2;
  border-radius: 4vw;
  padding: 4vw;
  font-size: 8vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trivia-title {
  /* grid-column: span 2; */
  font-size: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trivia {
  font-family: "Fredoka";
  font-size: 6vw;
  text-align: center;
}

.translate {
  margin-top: 0vw;
  color: var(--background);
  background: white;
  width: fit-content;
  padding: 1vw;
  align-self: flex-end;
  padding-inline: 5vw;
  border-radius: 5vw;
  font-size: 4vw;
}